@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

.holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

.cardContainer {
  border: solid 5px red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: conatin;
}

.imageHandler {
  border: solid blue 5px;
  position: relative;
}
.image {
  width: 100%;
}

.timeStamp {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: flex-start;
  position: absolute;
  font-size: 30;
  border-radius: 5px;
  bottom: 1em;
  margin-left: 1em;
  content: contain;
}

.cardInfo {
  border: solid 1px orange;
  display: block;
  justify-content: space-between;
  contain: content;
  overflow: scroll;
  height: 50vh;
  width: 100%;
}

.article {
  overflow: scroll;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
}
.cardButton {
  color: white;
  font-size: 30;
  background-color: var(--color-primary);
  width: 10em;
  border-radius: 5px;
  padding: 2px;
}
.cardButton svg {
  fill: white;
}

.cardButton:hover {
  background-color: lightblue;
}

@media screen and (min-device-width: 414px) {
  .holder {
    border: black solid 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
  }
  .cardContainer {
    width: 40vw;
  }
}

@media only screen and (min-device-width: 1024px) {
  .holder {
    border: black solid 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    align-items: center;
  }
  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
    width: 80vw;
  }

  .cardInfo {
    border: solid 1px orange;
    display: block;
    contain: content;
    height: 59vh;
    width: 30wv;
  }

  .timeStamp {
    justify-content: flex-end;
    top: 1em;
    bottom: 16rem;
    margin-left: 18rem;
  }
  .imageHandler {
    margin-top: 2rem;
    height: 50vh;
  }

  image {
    width: 45vw;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 1366px) {
  .holder {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    align-items: center;
    height: 100%;
  }
  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 35vh;
    width: 45vw;
    content: contain;
  }

  .imageHandler {
    contain: content;
    margin-top: 0rem;
    height: 35vh;
    width: 26vw;
  }

  .image {
    height: 35vh;
    width: 26vw;
  }
  .timeStamp {
    margin-bottom: 40%;
    margin-right: 5%;
    font-size: 15;
  }

  .cardInfo {
    border: solid 1px orange;
    display: block;
    justify-content: space-between;
    contain: content;
    height: 35vh;
    width: 40%;
  }

  .article {
    height: 70%;
  }
  h3 {
    font-size: 1.5rem;
  }
}
